<!-- shopping-cart-area start -->
<div class="cart-main-area ptb-100">
    <div class="container">
        <h3 class="page-title">Sản phẩm đã chọn</h3>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table>
                            <thead>
                                <tr>
                                    <th>Hình ảnh</th>
                                    <th>Tên sản phẩm</th>
                                    <th>Đơn giá</th>
                                    <th>Số lượng</th>
                                    <th>Thành tiền</th>
                                    <th>Chỉnh sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-3.jpg" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">Trà hà lan </a></td>
                                    <td class="product-price-cart"><span class="amount">2.000.000 VND</span></td>
                                    <td class="product-quantity">
                                        <div class="pro-dec-cart">
                                            <input class="cart-plus-minus-box" type="text" value="02" name="qtybutton">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">1.120.000 VND</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-4.jpg" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">Trà hoa hồng</a></td>
                                    <td class="product-price-cart"><span class="amount">2.250.000 VND</span></td>
                                    <td class="product-quantity">
                                        <div class="pro-dec-cart">
                                            <input class="cart-plus-minus-box" type="text" value="02" name="qtybutton">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">2.250.000 VND</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="product-thumbnail">
                                        <a href="#"><img src="assets/img/cart/cart-5.jpg" alt=""></a>
                                    </td>
                                    <td class="product-name"><a href="#">Trà hoa nhĩ</a></td>
                                    <td class="product-price-cart"><span class="amount">3.125.000 VND</span></td>
                                    <td class="product-quantity">
                                        <div class="pro-dec-cart">
                                            <input class="cart-plus-minus-box" type="text" value="02" name="qtybutton">
                                        </div>
                                    </td>
                                    <td class="product-subtotal">3.125.000 VND</td>
                                    <td class="product-remove">
                                        <a href="#"><i class="fa fa-pencil"></i></a>
                                        <a href="#"><i class="fa fa-times"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="cart-shiping-update-wrapper">
                                <div class="cart-shiping-update">
                                    <a href="#">Tiếp tục mua sắm</a>
                                </div>
                                <div class="cart-clear">
                                    <button>Cập nhật giỏ hàng</button>
                                    <a href="#">Xóa sản phẩm</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <div class="cart-tax">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Ước tính vận chuyển và thuế</h4>
                            </div>
                            <div class="tax-wrapper">
                                <p>Nhập vào các mục để ước lượng chính xác phí vận chuyển.</p>
                                <div class="tax-select-wrapper">
                                    <div class="tax-select">
                                        <label>
                                            * Quốc gia
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Bangladesh</option>
                                            <option>Albania</option>
                                            <option>Åland Islands</option>
                                            <option>Afghanistan</option>
                                            <option>Belgium</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Vùng / Lãnh thổ
                                        </label>
                                        <select class="email s-email s-wid">
                                            <option>Bangladesh</option>
                                            <option>Albania</option>
                                            <option>Åland Islands</option>
                                            <option>Afghanistan</option>
                                            <option>Belgium</option>
                                        </select>
                                    </div>
                                    <div class="tax-select">
                                        <label>
                                            * Zip/Postal Code
                                        </label>
                                        <input type="text">
                                    </div>
                                    <button class="cart-btn-2" type="submit">Nhập</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <div class="discount-code-wrapper">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gray">Sử dụng mã giảm giá</h4>
                            </div>
                            <div class="discount-code">
                                <p>Nhập vào mã giảm giá tại đây.</p>
                                <form>
                                    <input type="text" required="" name="name">
                                    <button class="cart-btn-2" type="submit">Nhập</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="grand-totall">
                            <div class="title-wrap">
                                <h4 class="cart-bottom-title section-bg-gary-cart">Đơn hàng</h4>
                            </div>
                            <h5>Giá trị đơn hàng <span>5.500.000 VND</span></h5>
                            <div class="total-shipping">
                                <h5>Phí vận chuyển</h5>
                                <ul>
                                    <li><input type="checkbox"> Tiêu chuẩn <span>50.000 VND</span></li>
                                    <li><input type="checkbox"> Nhanh <span>150.000 VND</span></li>
                                </ul>
                            </div>
                            <h4 class="grand-totall-title">Tổng <span>5.500.000 VND</span></h4>
                            <a href="#">Thực hiện thanh toán</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>