<!-- checkout-area start -->
<div class="checkout-area pb-80 pt-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="checkout-wrapper">
                    <div id="faq" class="panel-group">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>1.</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#payment-1">Phương thức thanh toán</a></h5>
                            </div>
                            <div id="payment-1" class="panel-collapse collapse show">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-lg-5">
                                            <div class="checkout-register">
                                                <div class="title-wrap">
                                                    <h4 class="cart-bottom-title section-bg-white">THANH TOÁN NHƯ KHÁCH HOẶC ĐĂNG KÝ</h4>
                                                </div>
                                                <div class="register-us">
                                                    <ul>
                                                        <li><input type="checkbox"> Thanh toán như khách</li>
                                                        <li><input type="checkbox"> Đăng ký</li>
                                                    </ul>
                                                </div>
                                                <h6>ĐĂNG KÝ VÀ TIẾT KIỆM THỜI GIAN!</h6>
                                                <div class="register-us-2">
                                                    <p>Đăng ký cho những lần thanh toán tiếp theo.</p>
                                                    <ul>
                                                        <li>Dễ dàng và nhanh chóng khi thanh toán</li>
                                                        <li>Dễ dàng truy cập vào lịch sử đặt hàng và trạng thái đơn hàng</li>
                                                    </ul>
                                                </div>
                                                <a href="#">Đăng ký</a>
                                            </div>
                                        </div>
                                        <div class="col-lg-7">
                                            <div class="checkout-login">
                                                <div class="title-wrap">
                                                    <h4 class="cart-bottom-title section-bg-white">ĐĂNG NHẬP</h4>
                                                </div>
                                                <p>Bạn đã có tài khoản? </p>
                                                <span>Hãy đăng nhập tại đây:</span>
                                                <form>
                                                    <div class="login-form">
                                                        <label>Địa chỉ email * </label>
                                                        <input type="email" name="email">
                                                    </div>
                                                    <div class="login-form">
                                                        <label>Mật khẩu *</label>
                                                        <input type="password" name="email">
                                                    </div>
                                                </form>
                                                <div class="login-forget">
                                                    <a href="#">Quên mật khẩu?</a>
                                                    <p>* Bắt buộc</p>
                                                </div>
                                                <div class="checkout-login-btn">
                                                    <a href="#">Đăng nhập</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>2.</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#payment-2">Thông tin đơn hàng</a></h5>
                            </div>
                            <div id="payment-2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="billing-information-wrapper">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Họ</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Tên</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Công ty</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Email</label>
                                                    <input type="email">
                                                </div>
                                            </div>
                                            <div class="col-lg-12 col-md-12">
                                                <div class="billing-info">
                                                    <label>Địa chỉ</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>thành phố</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Quận/Huyện</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Zip/Postal Code</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-select">
                                                    <label>Quốc gia</label>
                                                    <select>
                                                        <option value="1">United State</option>
                                                        <option value="2">Azerbaijan</option>
                                                        <option value="3">Bahamas</option>
                                                        <option value="4">Bahrain</option>
                                                        <option value="5">Bangladesh</option>
                                                        <option value="6">Barbados</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Điện thoại</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-md-6">
                                                <div class="billing-info">
                                                    <label>Fax</label>
                                                    <input type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="ship-wrapper">
                                            <div class="single-ship">
                                                <input type="radio" name="address" value="address" checked="">
                                                <label>Giao hàng đến địa chỉ này</label>
                                            </div>
                                            <div class="single-ship">
                                                <input type="radio" name="address" value="dadress">
                                                <label>Giao hàng đến địa chỉ khác</label>
                                            </div>
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-back">
                                                <a href="#"><i class="ion-arrow-up-c"></i> back</a>
                                            </div>
                                            <div class="billing-btn">
                                                <button type="submit">Lưu</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>3.</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#payment-3">Thông tin vận chuyển</a></h5>
                            </div>
                            <div id="payment-3" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    <div class="shipping-information-wrapper">
                                        <div class="shipping-info-2">
                                            <span>Chung cư Hòa Phát</span>
                                            <span>D - Block</span>
                                            <span>666/1 Đường 3/2</span>
                                            <span>Hồ Chí Minh, VN</span>
                                            <span>T: +8800 879 9876 </span>
                                        </div>
                                        <div class="edit-address">
                                            <a href="#">Chỉnh sửa địa chỉ</a>
                                        </div>
                                        <div class="billing-select">
                                            <select class="email s-email s-wid">
                                                <option>Chọn địa chỉ của bạn</option>
                                                <option>Thêm địa chỉ</option>
                                                <option>552 , sao Kim</option>
                                            </select>
                                        </div>
                                        <div class="ship-wrapper">
                                            <div class="single-ship">
                                                <input type="checkbox" checked="" value="address" name="address">
                                                <label>Dùng địa chỉ mặc định</label>
                                            </div>
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-back">
                                                <a href="#"><i class="ion-arrow-up-c"></i> Quay lại</a>
                                            </div>
                                            <div class="billing-btn">
                                                <button type="submit">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>4.</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#payment-4">Phương thức vận chuyển</a></h5>
                            </div>
                            <div id="payment-4" class="panel-collapse collapse ">
                                <div class="panel-body">
                                    <div class="shipping-method-wrapper">
                                        <div class="shipping-method">
                                            <p>Giao vận nhanh</p>
                                            <p>50.000 VND</p>
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-back">
                                                <a href="#"><i class="ion-arrow-up-c"></i> Trở về</a>
                                            </div>
                                            <div class="billing-btn">
                                                <button type="submit">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>5.</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#payment-5">Phương thức thanh toán</a></h5>
                            </div>
                            <div id="payment-5" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="payment-info-wrapper">
                                        <div class="ship-wrapper">
                                            <div class="single-ship">
                                                <input type="radio" checked="" value="address" name="address">
                                                <label>Tiền mặt </label>
                                            </div>
                                            <div class="single-ship">
                                                <input type="radio" value="dadress" name="address">
                                                <label>Thẻ tín dụng (mặc định) </label>
                                            </div>
                                        </div>
                                        <div class="payment-info">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-info">
                                                        <label>Tên </label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6">
                                                    <div class="billing-select">
                                                        <label>Loại thẻ</label>
                                                        <select>
                                                            <option>American Express</option>
                                                            <option>Visa</option>
                                                            <option>MasterCard</option>
                                                            <option>Discover</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Mã số thẻ </label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="expiration-date">
                                                <label>Ngày hết hạn </label>
                                                <div class="row">
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-select">
                                                            <select>
                                                                <option>Tháng</option>
                                                                <option>Tháng 1</option>
                                                                <option>Tháng 2</option>
                                                                <option>Tháng 3</option>
                                                                <option>Tháng 4</option>
                                                                <option>Tháng 5</option>
                                                                <option>Tháng 6</option>
                                                                <option>Tháng 7</option>
                                                                <option>Tháng 8</option>
                                                                <option>Tháng 9</option>
                                                                <option>Tháng 10</option>
                                                                <option>Tháng 11</option>
                                                                <option>Tháng 12</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-6 col-md-6">
                                                        <div class="billing-select">
                                                            <select>
                                                                <option>Năm</option>
                                                                <option>2015</option>
                                                                <option>2016</option>
                                                                <option>2017</option>
                                                                <option>2018</option>
                                                                <option>2019</option>
                                                                <option>2020</option>
                                                                <option>2021</option>
                                                                <option>2022</option>
                                                                <option>2023</option>
                                                                <option>2024</option>
                                                                <option>2025</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="billing-info">
                                                        <label>Mã bảo mật</label>
                                                        <input type="text">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="billing-back-btn">
                                            <div class="billing-back">
                                                <a href="#"><i class="ion-arrow-up-c"></i> Quay lại</a>
                                            </div>
                                            <div class="billing-btn">
                                                <button type="submit">Tiếp tục</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h5 class="panel-title"><span>6.</span> <a data-toggle="collapse" data-parent="#faq"
                                        href="#payment-6">Kiểm tra đơn hàng</a></h5>
                            </div>
                            <div id="payment-6" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="order-review-wrapper">
                                        <div class="order-review">
                                            <div class="table-responsive">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th class="width-1">Tên sản phẩm</th>
                                                            <th class="width-2">Giá</th>
                                                            <th class="width-3">Số lượng</th>
                                                            <th class="width-4">Giá thực</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p>Trà đào</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-price">
                                                                    <p>2.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-qty">
                                                                    <p>2</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-subtotal">
                                                                    <p>2.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p>Trà hoa nhĩ</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-price">
                                                                    <p>2.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-qty">
                                                                    <p>3</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-subtotal">
                                                                    <p>2.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p>Trà hoa hồng</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-price">
                                                                    <p>3.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-qty">
                                                                    <p>2</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-subtotal">
                                                                    <p>3.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div class="o-pro-dec">
                                                                    <p>Trà thiên lí tuệ</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-price">
                                                                    <p>3.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-qty">
                                                                    <p>2</p>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <div class="o-pro-subtotal">
                                                                    <p>3.000.000 VND</p>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                    <tfoot>
                                                        <tr>
                                                            <td colspan="3">Giá </td>
                                                            <td colspan="1">10.000.000 VND</td>
                                                        </tr>
                                                        <tr class="tr-f">
                                                            <td colspan="3">Vận chuyển </td>
                                                            <td colspan="1">30.000 VND</td>
                                                        </tr>
                                                        <tr>
                                                            <td colspan="3">Tổng giá</td>
                                                            <td colspan="1">10.030.000 VND</td>
                                                        </tr>
                                                    </tfoot>
                                                </table>
                                            </div>
                                            <div class="billing-back-btn">
                                                <span>
                                                    Quên sản phẩm?
                                                    <a href="#"> Chỉnh sửa giỏ hàng của bạn.</a>

                                                </span>
                                                <div class="billing-btn">
                                                    <button type="submit">Tiếp tục</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="checkout-progress">
                    <h4>Quá trình thanh toán</h4>
                    <ul>
                        <li>Địa chỉ đơn hàng</li>
                        <li>Địa chỉ giao hàng</li>
                        <li>Phương thức vận chuyển</li>
                        <li>Phương thức thanh toán</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>